body {
  background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
  font: 1em sans-serif;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

input{
  background: 0;
  width: 70%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255,255,255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
  text-align: center;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
  text-align: center;
}

li {
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
}

input[type="submit"]{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #df2359;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}

input[type="submit"]:hover{
  background: #C0392B;
}
.grid {
  columns: 2;
  column-gap:  10px;
}
.card {
  margin: auto;
  width: 80vw;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem
}

/* media query for mobile */
@media screen and (max-width: 901px) {
  .grid {
    columns: 1;
  }
}

/* media query for desktop */
@media screen and (min-width: 901px) {
  .grid {
    columns: 2;
  }
}